@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

:root {
    --main-font: 'Open Sans', serif;
    --card-font: 'Lora', serif;
}

body {
    font-family: var(--main-font);
}